{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="text-center">
        <h1 class="display-4 text-gray-900 font-bold">Your Reminders</h1>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Date</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for reminder in reminders %}
            <tr>
                <td>{{ reminder.reminder_title }}</td>
                <td>{{ reminder.reminder_date }}</td>
                <td>{{ reminder.reminder_message }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
