{% extends "base.html" %}

{% block content %}
<div class="container my-5">
    <div class="d-flex flex-column align-items-center justify-content-center bg-custom-gray py-12 px-4 sm:px-6 lg:px-8 mb-8 rounded-lg shadow-lg text-center">
        <h1 class="display-4 text-gray-900 font-bold mb-3">Welcome to WeCare</h1>
        <p class="lead text-gray-600 font-italic mb-4">"Taking care of your mind, taking care of your future."</p>
        <a href="{% url 'login' %}" class="btn btn-primary btn-lg mt-3 px-5 shadow-sm">Join Us</a>
    </div>
    <div class="row justify-content-center mt-4">
        
        <div class="col-lg-4">
            <div class="card bg-custom-gray shadow-lg p-4 mb-4">
                <h5 class="text-3xl font-bold text-center">Forum</h5>
                <p class="text-center">Join our forum where you can share your opinion.</p>
                <div class="text-center">
                    <a href="{% url 'comentarios' %}" class="btn btn-secondary">Read More</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card bg-custom-gray shadow-lg p-4 mb-4">
                <h5 class="text-3xl font-bold text-center">Emergency Lines</h5>
                <p class="text-center">If you need help, do not hesitate to contact professional help.</p>
                <div class="text-center">
                    <a href="{% url 'emergency' %}" class="btn btn-primary">Contact</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card bg-custom-gray shadow-lg p-4 mb-4">
                <h5 class="text-3xl font-bold text-center">Mental Health Content</h5>
                <p class="text-center">Access important mental health content whenever you need it.</p>
                <div class="text-center">
                    <a href="{% url 'library' %}" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

