<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comentarios</title>
</head>
<body>
    <h1>Lista de Comentarios</h1>
    {% if mensaje %}
        <p>{{ mensaje }}</p>
    {% endif %}
    {% if comentarios %}
        <ul>
            {% for comentario in comentarios %}
                <li>
                    <strong>{{ comentario.autor.username }}</strong>: {{ comentario.texto }} <br>
                    <a href="{% url 'detalle-comentario' comentario.id %}">Ver detalles</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No hay comentarios disponibles.</p>
    {% endif %}
    <a href="{% url 'crear-comentario' %}">Crear comentario</a>
    <a href="{% url 'home' %}" class="btn btn-primary">Go back to homepage</a>
</body>
</html>

