{% extends "base.html" %}

{% block content %}
    <div class="container my-5">
        <div class="text-center">
            <h1 class="display-4">Mis Comentarios</h1>
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-lg-8">
                {% if comentarios %}
                    <ul class="list-group">
                        {% for comentario in comentarios %}
                            <li class="list-group-item">
                                <strong>{{ comentario.autor.username }}</strong>: {{ comentario.texto }}
                                <br>
                                <a href="{% url 'detalle-comentario' comentario.id %}" class="btn btn-link">Ver detalles</a>
                                <a href="{% url 'editar-comentario' comentario.id %}" class="btn btn-warning btn-sm">Editar</a>
                                <a href="{% url 'eliminar-comentario' comentario.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No tienes comentarios.</p>
                {% endif %}
                <a href="{% url 'comentarios' %}" class="btn btn-secondary w-100 mt-2">Volver a Comentarios</a>
            </div>
        </div>
    </div>
{% endblock content %}

