{% extends "base.html" %}

{% block contenedor %}
    <h3>Channel Identifier: {{ object.id }}</h3>
    <h1>Channel Message</h1>

    <div id="contenedor_ms">
        {% for mensaje in object.canalmensaje_set.all %}
            {% if request.user == mensaje.usuario %}
                <p>
                    <strong>{{ mensaje.texto }}</strong>
                    <span>You sent the message</span>
                </p>
            {% else %}
                <p>
                    <strong>{{ mensaje.texto }}</strong>
                    <span>{{ mensaje.usuario }}</span>
                </p>
            {% endif %}
        {% endfor %}
    </div>

    <h1>Channel Users</h1>
    {% for usuarios in object.canalusuario_set.all %}
        <p>{{ usuarios.usuario }}</p>
    {% endfor %}

    <form id="form_submit" action="{{ request.path }}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Send</button>
    </form>

    <script>
        const MsgForm = document.getElementById("form_submit");
        const msgContainer = document.getElementById("contenedor_ms");

        MsgForm.addEventListener("submit", (event) => {
            event.preventDefault();

            const targetDate = event.target;
            const formData = new FormData(targetDate);

            const xhr = new XMLHttpRequest();
            const endpoint = MsgForm.getAttribute("action");
            const method = MsgForm.getAttribute("method");
            xhr.open(method, endpoint);

            xhr.responseType = 'json';
            xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest");

            xhr.onload = () => {
                if (xhr.status === 201) {
                    const respuestaData = xhr.response;
                    const nuevoMensaje = document.createElement('div');
                    nuevoMensaje.innerHTML = `<b>${respuestaData.username}</b><p>${respuestaData.mensaje}</p>`;
                    msgContainer.appendChild(nuevoMensaje);
                    MsgForm.reset();
                } else if (xhr.status === 400) {
                    console.log(xhr.response);
                } else {
                    alert("Un error ocurrió, por favor intenta de nuevo.");
                }
            };

            xhr.send(formData);
        });
    </script>
{% endblock %}
